h1{
   color: purple;
   font-family :sans-serif;
   font-size: 30px;

     
}

p{
   color: blue;
   font-family :fantasy;
   font-size :20px;
}

ul{
   list-style-type: square;
}
ol{
   list-style-type :upper-roman;
}